<div ng-controller="LayoutCtrl">
  <div class="layout-row-header" no-scroll>
    <div ng-include="'html/project-box.html'"></div>
    <div ng-include="'html/header.html'"></div>
    <div class="sidebar-expand-overlay" ng-class="{active: layout.sidebarExpanded}" ng-click="toggleSidebar()"></div>
    <div class="history-maximize-overlay" ng-class="{active: layout.historyMaximized}" ng-click="toggleHistory()"></div>
  </div>
  <div class="layout-row-body">
    <div ng-include="'html/sidebar.html'"></div>
    <div ng-include="'html/editor.html'"></div>
    <div class="sidebar-expand-overlay" ng-class="{active: layout.sidebarExpanded}" ng-click="toggleSidebar()"></div>
    <div class="history-maximize-overlay" ng-class="{active: layout.historyMaximized}" ng-click="toggleHistory()"></div>
  </div>
  <div class="layout-row-footer">
    <div ng-include="'html/history.html'"></div>
  </div>
</div>
