Authentication
<div class="authentication-wrapper">
  <div class="authentication" ng-controller="AuthenticationCtrl">

    <img class="authentication-logo" src="img/api-garage-logo-large.png" />

    <form class="authentication-form" ng-submit="submit()">
      <p class="authentication-validation" ng-if="forgotPassword">
        Sign in again
      </p>
      <input type="name" class="form-control authentication-name"
        ng-class="{'input-lg': authType == LOGIN}"
        placeholder="Name" ng-if="authType == SIGNUP"
        ng-model="credentials.name" />
      <p class="authentication-validation"
        ng-if="nameError && authType == SIGNUP">
        {{nameErrorMessage}}
      </p>

      <input type="name" class="form-control authentication-email"
        ng-class="{'input-lg': authType == LOGIN}"
        placeholder="Email Address"
        ng-model="credentials.email" />
      <p class="authentication-validation" ng-if="emailError">
        {{emailErrorMessage}}
      </p>

      <input type="password" class="form-control authentication-password"
        ng-class="{'input-lg': authType == LOGIN}"
        placeholder="Password"
        ng-model="credentials.password"/>
      <p class="authentication-validation" ng-if="passwordError">
        {{passwordErrorMessage}}
      </p>

      <p class="authentication-validation"
        ng-if="genericLoginErrorMessage && authType == LOGIN">
        {{genericLoginErrorMessage}}
      </p>

      <p class="authentication-validation"
        ng-if="genericSignupErrorMessage && authType == SIGNUP">
        {{genericSignupErrorMessage}}
      </p>

      <button type="submit" class="btn btn-primary btn-block btn-lg">
        {{ authType == LOGIN ? "Sign in" : "Register" }}
      </button>
      <p class="authentication-forgot-link" ng-if="authType == LOGIN">
        <a ui-sref="forgotpassword">Forgot password?</a>
      </p>
    </form>

    <div class="authentication-toggle">
      {{ authType === SIGNUP ? "Don't have an account?" : "Already have an account?" }}
      <a href="#" ng-click="toggleAuthenticationType()">
        {{ authType === SIGNUP ? "Sign in" : "Create an account" }}
      </a>
      </span>
    </div>

  </div>
</div>
