  <!-- Mocking START -->
  <div class="list" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse
  style="height: 250px; overflow-y: scroll;"
  ng-show="agLayoutMocking">
    <div ng-repeat="mockingLog in mockingLogs | orderBy:'-time'">

      <div class="row" role="tab">
        <div class="list-group-item small"
          ng-class="($index%2 == 0) ? 'mocking-status-primary' : 'mocking-status-secondary'" class="mocking-status-panel-heading"
          style="
          border: 0px;
          padding-bottom: 1px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 1px;
          margin-top: 1px;
          ">
          <span class="col-md-2" style="width: 160px;">

          <a bs-collapse-toggle >
            {{mockingLog.time | date:'yyyy-MM-dd h:mm:ssa'}}
          </a>
        </span>

          <span class="request-type col-md-3" style="width: 115px;">
            <a >
              {{mockingLog.request.method ? mockingLog.request.method : "Request"}}
            </a>
            -
            <a>
              {{mockingLog.response.status ? mockingLog.response.status : "Response"}}
            </a>
          </span>
          <span style="padding-left: 6px;padding-right: 50px;width: 250px;" class="col-md-2">
            <a ng-click="loadPerformRequest(mockingLog.endpoint, true)">
            {{mockingLog.endpoint.name ? mockingLog.endpoint.name : "API Garage - Endpoint Not found"}}
            </a>
          </span>
          <a class="request-url-value" class="col-md-2">{{mockingLog.request.url}}</a>
          <!-- <span class="col-md-3">
            <span class="request-status"></span> -
            <span class="request-status-text"></span>
          </span> -->
        </div>
      </div>
      <div class="panel-collapse" role="tabpanel" bs-collapse-target>
        <div class="panel-body">
          <span class="request-type" style="width: 100px;">
            Request - {{mockingLog.request.method}}
          </span>
          <div ui-ace="responseBodyMockingLogs" ng-model="mockingLog.request.data" ></div>
          <span class="request-type" style="width: 90px;">
            Response - {{mockingLog.response.status}}
          </span>
          <div ui-ace="responseBodyMockingLogs" ng-model="mockingLog.response.data" ></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mocking END -->
