    <div class="panel panel-default editor-panel">
      <form class="panel-heading editor-panel-heading">

        <h3 class="editor-panel-heading-title">Request</h3>

        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" bs-dropdown data-template="requestMethodMenu">
              {{endpoint.requestMethod}}
              <span class="caret"></span>
            </button>
            <script type="text/ng-template" id="requestMethodMenu">
              <ul class="dropdown-menu">
                <li ng-repeat="requestMethod in requestMethods">
                  <a ng-click="setRequestMethod(requestMethod)">
                    <span class="fa fa-fw" ng-class="requestMethod == endpoint.requestMethod ? 'fa-check' : 'fa-spacer'"></span>
                    {{requestMethod}}
                  </a>
                </li>
              </ul>
            </script>
          </div><!-- /btn-group -->
          <input type="text" class="form-control" ng-model="endpoint.requestUrl" placeholder="Add a URL...">
          <div class="input-group-btn">
            <button class="btn btn-default project-environment" type="button"
                    bs-dropdown data-template="environmentSelect"
                    ng-click="environments.public.length + environments.private.length ? null : manageEnvironments()">
              <span class="fa fa-sliders"></span>
              {{endpoint.environment ? endpoint.environment.name : 'ENVIRONMENT'}}
              <span class="caret"></span>
            </button>
            <script type="text/ng-template" id="environmentSelect">
              <ul class="dropdown-menu" ng-show="environments.public.length + environments.private.length">
                <li ng-repeat="environment in environments.public">
                  <a ng-click="setEnvironment(environment)">
                    <span class="fa fa-fw" ng-class="environment == endpoint.environment ? 'fa-check' : 'fa-spacer'"></span>
                    <code class="text-uppercase">{{environment.name}}</code>
                    <span class="dropdown-menu-hotkey">{{'OSX' ? '&#8984;' + ($index+1) : 'Ctrl+' + ($index+1)}}</span>
                  </a>
                </li>
                <li ng-repeat="environment in environments.private">
                  <a ng-click="setEnvironment(environment)">
                    <span class="fa fa-fw" ng-class="environment == endpoint.environment ? 'fa-check' : 'fa-spacer'"></span>
                    <code class="text-uppercase">{{environment.name}}</code>
                    <span class="dropdown-menu-hotkey">{{'OSX' ? '&#8984;' + ($index+1+environments.global.length) : 'Ctrl+' + ($index+1+environments.global.length)}}</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a ng-click="manageEnvironments()">
                    <span class="fa fa-fw fa-sliders"></span>
                    Manage Environments
                  </a>
                </li>
              </ul>
            </script>
            <button class="btn btn-primary" type="submit" ng-click="performRequest()"
                    ladda="response == 'loading'" data-style="expand-right"
                    bs-tooltip data-html="1"  data-placement="bottom"
                    data-title="<span class='visible-xs-inline visible-sm-inline'>Make Request (</span>{{'OSX' ? '&#8984;R' : 'Ctrl+R'}}<span class='visible-xs-inline visible-sm-inline'>)</span>">
              <span class="fa fa-download"></span>
              <span class="hidden-xs hidden-sm">
                Make request
              </span>
            </button>
            <button class="btn btn-primary" type="submit" ng-click="promise.abort()"
                    ladda="response == 'loading'" data-style="expand-right"
                    bs-tooltip data-html="1"  data-placement="bottom"
                    data-title="<span class='visible-xs-inline visible-sm-inline'>Make Request (</span>{{'OSX' ? '&#8984;A' : 'Ctrl+A'}}<span class='visible-xs-inline visible-sm-inline'>)</span>">
              <span class="fa fa-download"></span>
              <span class="hidden-xs hidden-sm">
                Cancel Request
              </span>
            </button>
          </div>
        </div>

      </form>
      <div class="panel-body editor-panel-body">

        <div class="request-headers">
          <h4 class="request-headers-title editor-panel-subsection" ng-click="requestHeadersExpanded = !requestHeadersExpanded">
            <a>
              <span class="fa fa-lg" ng-class="requestHeadersExpanded ? 'fa-caret-down' : 'fa-caret-right'"></span>
              Request headers
            </a>
          </h4>
          <table class="request-headers-table" ng-show="requestHeadersExpanded">
            <tr class="request-header" ng-repeat="requestHeader in endpoint.requestHeaders track by $index">
              <th><input type="text" class="request-header-key"   ng-model="requestHeader.key"   placeholder="Header" pu-elastic-input /></th><td class="request-header-spacer">:</td>
              <td><input type="text" class="request-header-value" ng-model="requestHeader.value" placeholder="Value"  pu-elastic-input /></td>
              <td>
                <a class="request-header-delete" ng-click="deleteRequestHeader(requestHeader)">
                  <span class="fa fa-trash-o"></span>
                  <span class="hidden-xs hidden-sm">Delete</span>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <button type="button" class="request-header-new btn btn-dashed" ng-show="requestHeadersExpanded" ng-click="addRequestHeader()">
                  <span class="fa fa-plus"></span>
                  Add a header
                </button>
              </td>
            </tr>
          </table>
        </div>

        <div class="request-body" ng-show="endpoint.requestMethod !== 'GET'">
          <h4 class="request-body-title editor-panel-subsection" ng-click="requestBodyExpanded = !requestBodyExpanded">
            <a>
              <span class="fa fa-lg" ng-class="requestBodyExpanded ? 'fa-caret-down' : 'fa-caret-right'"></span>
              Request body
            </a>
          </h4>
          <div ui-ace="requestBodyEditorOptions" ng-model="endpoint.requestBody" ng-if="requestBodyExpanded"></div>
        </div>

      </div>
    </div>
