Response Preview
<div class="response-body" ng-if="responsePreviewTypeContent" ng-init="responseBodyExpanded = true" >
  <h4 class="response-body-title editor-panel-subsection" ng-click="responseBodyExpanded = !responseBodyExpanded">
    <a href="#">
      <span class="fa fa-lg" ng-class="responseBodyExpanded ? 'fa-caret-down' : 'fa-caret-right'"></span>
      Response body
    </a>
  </h4>
  <div ui-ace="responseBodyEditorOptions" ng-model="responsePreviewTypeContent" ng-show="responseBodyExpanded"></div>
</div>
