  <div class="layout-column-content editor" ng-controller="EditorCtrl" >
    <div class="editor-header">

      <div class="editor-actions">
        <!-- <button class="btn btn-primary"
                bs-tooltip data-html="1"
                data-placement="bottom"
                ng-click="saveCurrentRequest()"
                data-title="<span class='visible-xs-inline visible-sm-inline'>Save Changes (</span>
                 {{'OSX' ? '&#8984;S' : 'Ctrl+S'}}
                <span class='visible-xs-inline visible-sm-inline'>)</span>">
          <span class="fa fa-fw fa-floppy-o"></span>
          <span class="hidden-xs hidden-sm">Save changes</span>
        </button> -->
        <button class="btn btn-primary"
                ng-click="saveCurrentRequest()"
                data-title="<span class='visible-xs-inline visible-sm-inline'>Save Changes (</span>
                <span class='visible-xs-inline visible-sm-inline'>)</span>">
          <span class="fa fa-fw fa-floppy-o"></span>
          <span class="hidden-xs hidden-sm">Save changes</span>
        </button>
        <button class="btn btn-default">
          <span class="fa fa-fw fa-files-o"></span>
          <span class="hidden-xs hidden-sm">Make a copy</span>
        </button>
        <button class="btn btn-default">
          <span class="fa fa-fw fa-trash-o"></span>
          <span class="hidden-xs hidden-sm">Delete</span>
        </button>
      </div>
      <div class="editor-titles">
        <h2 bs-dropdown data-template="editor-category">
          <button>
            {{endpoint.category}}
            <span class="caret"></span>
          </button>
        </h2>
        <h1 id="editor-title">
          <input type="text" class="content-editable"
                 placeholder="Untitled Request" pu-elastic-input
                 ng-model="endpoint.name" />
        </h1>
      </div>
      <script type="text/ng-template" id="editor-category">
        <ul class="dropdown-menu">
          <li ng-repeat="category in ['Albums', 'Artists', 'Tracks', 'Playlists', 'User Profiles']">
            <a ng-click="endpoint.category = category">
              <span class="fa fa-fw" ng-class="category == endpoint.category ? 'fa-check' : 'fa-spacer'"></span>
              {{category}}
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a ng-click="openNewCategoryModal()">
              <span class="fa fa-fw fa-pencil"></span>
              New Category
            </a>
          </li>
        </ul>
      </script>

    </div>
    <!--
    <div class="editor-description">

      <p contenteditable="true" ng-model="endpoint.description" placeholder="Add a description..." ></p>

    </div>
    -->
    <div ng-include="'html/editor-request.html'"></div>
    <div ng-include="'html/editor-response.html'"></div>
  </div>
