<div class="panel-group editor-panel" ng-model="panels.activePanelCreate" role="tablist" aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
      <div class="panel-heading mocking-panel-heading" ng-click="expandEndpointDescription()">
        <h4 class="mocking-panel-heading-title">
          <span class="fa  fa-plus-square-o" ng-class="endpointDescription.isExpanded ? 'fa-minus-square-o' : 'fa-plus-square-o'"></span>
          Description</h4>
          <div class="enable-select active">
            <div class="col-xs-2 pull-right">

            </div>
          </div>
      </div>
      <div ng-class="endpointDescription.isExpanded ?
      'panel-body editor-description-panel-body' : 'editor-description-hidden-panel-body'"
        ng-show="endpointDescription.isExpanded">
        <code>{{agParentEndpoint.description}}</code> 
        <div marked="agParentEndpoint.description" ng-click=editEndointDescription()
          class="text-muted editor-description-textarea"
          ng-hide="endpointDescription.isEditing">
        </div>
        <textarea
          class="editor-description-textarea"
          ng-change="requestDescriptionChanged()"
          ng-model="endpointDescription.content"
          ng-show="endpointDescription.isEditing" ng-blur=editEndointDescription()>
        </textarea>
      </div>
  </div>
