  <div class="layout-column-content editor" ng-controller="EditorCtrl" >
    <div class="editor-header">

      <div class="editor-actions">
        <!-- <button class="btn btn-primary"
                bs-tooltip data-html="1"
                data-placement="bottom"
                ng-click="saveCurrentRequest()"
                data-title="<span class='visible-xs-inline visible-sm-inline'>Save Changes (</span>
                 {{'OSX' ? '&#8984;S' : 'Ctrl+S'}}
                <span class='visible-xs-inline visible-sm-inline'>)</span>">
          <span class="fa fa-fw fa-floppy-o"></span>
          <span class="hidden-xs hidden-sm">Save changes</span>
        </button> -->
        <button class="btn"
                ng-click="saveCurrentRequest()"
                ng-disabled="!requestChangedFlag"
                ng-class="{'btn-primary': requestChangedFlag, 'btn-default': !requestChangedFlag}"
                data-title="<span class='visible-xs-inline visible-sm-inline'>Save Changes (</span>
                <span class='visible-xs-inline visible-sm-inline'>)</span>">
          <span class="fa fa-fw fa-floppy-o"></span>
          <span class="hidden-xs hidden-sm">Save changes</span>
        </button>
        <button class="btn"
                ng-click="saveAsNewCurrentRequest()"
                ng-disabled="!requestChangedFlag"
                ng-class="{'btn-primary': requestChangedFlag, 'btn-default': !requestChangedFlag}"
                data-title="<span class='visible-xs-inline visible-sm-inline'>Save As... (</span>
                <span class='visible-xs-inline visible-sm-inline'>)</span>">
          <span class="fa fa-fw fa-floppy-o"></span>
          <span class="hidden-xs hidden-sm">Save As...</span>
        </button>
        <!-- <button class="btn btn-default"
          ng-click="copyCurrentRequest()"
          ng-show="currentItem.uuid">
          <span class="fa fa-fw fa-files-o"></span>
          <span class="hidden-xs hidden-sm">Make a copy</span>
        </button> -->
        <button class="btn btn-default" ng-disabled="isDeleteButtonDisabled"
          ng-click="openDeleteItemModal()"
          ng-show="currentItem.uuid">
          <span class="fa fa-fw fa-trash-o"></span>
          <span class="hidden-xs hidden-sm">Delete</span>
        </button>
      </div>
      <div class="editor-titles">
        <h2>
          <button ng-show="currentCollection.name">
            {{currentCollection.name}}
          </button>
        </h2>
        <h1 id="editor-title">
          <input type="text" class="content-editable"
                 placeholder="Untitled Request" pu-elastic-input
                 ng-model="endpoint.name"
                 ng-change="requestChanged()"/>
        </h1>
      </div>
      <!-- http://stackoverflow.com/questions/23698316/how-to-prevent-an-angular-bootstrap-dropdown-from-closing-unbind-event-which-wa -->
      <ul class="editor-nav nav nav-tabs">
        <li role="presentation" ng-class="{'active': endpointNav.tab == 'Editor'}">
          <a href="" ng-click="endpointNav.tab = 'Editor'">
            <span class="fa fa-pencil"></span>
            Editor
          </a>
        </li>
        <li role="presentation" ng-class="{'active': endpointNav.tab == 'Activity'}">
          <a href="" ng-click="endpointNav.tab = 'Activity'">
            <span class="fa fa-comments"></span>
            Activity
            <span class="badge">36</span>
          </a>
        </li>
      </ul>
    </div>
    <!--
    <div class="editor-description">

      <p contenteditable="true" ng-model="endpoint.description" placeholder="Add a description..." ></p>

    </div>
    -->
    <div ng-include="'html/editor-request.html'"  ng-show="endpointNav.tab == 'Editor'"></div>
    <div ng-include="'html/editor-response.html'" ng-show="endpointNav.tab == 'Editor'"></div>
    <div ng-include="'html/editor-activity.html'" ng-show="endpointNav.tab == 'Activity'"></div>
  </div>
