<li>
  <div class="activity-icon" ng-class="iconBadge">
    <span class="fa fa-fw" ng-class="iconClasses"></span>
  </div>
  <form name="commentForm">
    <div class="activity-content" ng-if="!collapsed">
      <span class="activity-menu fa fa-chevron-down"
            bs-dropdown data-placement="bottom-right"
            data-container=".editor"
            data-template="activity-menu"
            ng-if="showMenu">
      </span>

      <script type="text/ng-template" id="activity-menu">
        <ul class="dropdown-menu">
          <li>
            <a ng-click="editComment(agActivity)">
              <span class="fa fa-fw fa-pencil"></span>
              Edit
            </a>
          </li>
          <li>
            <a ng-click="deleteComment(agActivity)">
              <span class="fa fa-fw fa-trash-o"></span>
              Delete
            </a>
          </li>
        </ul>
      </script>

      <strong>{{agActivity.user.name}}</strong>

      <span class="text-muted">
        <span ng-bind-html="verb"></span>
        <span ng-bind-html="agActivity.created_at"></span>
      </span>

      <div class="activity-comment"
         ng-class="agActivity.type == 'form' ? 'activity-comment-form' : 'enable-select'"
         ng-if="hasTransclusion || agActivity.type == 'form'">

        <input type="hidden" name="commentForm.edit"
          data-ng-model="commentForm.edit"
          value="commentForm.edit">

        <div ng-if="agActivity.type != 'form'" ng-transclude>
        </div>

        <div ng-if="agActivity.type == 'form'">
          <p>
            <textarea name="commentDescription"
                      class="form-control"
                      data-ng-model="commentForm.description"
                      placeholder="Write a comment...">
            </textarea>
          </p>
          <p class="text-right">
            <button name="CommentFlag"
                    type="submit" class="btn btn-default"
                    ng-click="agEditorActivityFlag = !agEditorActivityFlag;
                      submitFlaggedComment(commentForm, agEditorActivityFlag)"
                    ng-show="!commentForm.edit">

              <span class="fa fa-fw" ng-class="agEndpoint.flagged ? 'fa-check' : 'fa-flag-o'"></span>
              {{ agEndpoint.flagged ? 'Resolve' : 'Flag' }} {{ commentForm.description ? 'with comment' : '' }}
            </button>
            <button type="submit" class="btn btn-primary" ng-click="submitComment(commentForm, agActivity, commentDescription)">
              {{ commentForm.edit ? 'Update' : 'Comment' }}
            </button>
          </p>

        </div>
        <!--
        <p>
          <span class="text-muted">
            3 likes
          </span>
          &middot;
          <a href="">Like</a>
        </p>
        -->
      </div>
    </div>
  </form>

  <!-- <div class="activity-content activity-content-collapsed" ng-if="collapsed">
    <a href="">
      {{editorActivityNumCollapsed}} more items have been collapsed.
      <strong>
        <span class="fa fa-plus-square"></span>
        EXPAND
      </strong>
    </a>
  </div> -->
</li>
