  <div class="layout-column-content editor" ng-controller="EditorCtrl" >
    <div class="editor-header">
      <div class="editor-actions">
        <!-- <button class="btn btn-primary"
                bs-tooltip data-html="1"
                data-placement="bottom"
                ng-click="saveCurrentRequest()"
                data-title="<span class='visible-xs-inline visible-sm-inline'>Save Changes (</span>
                 {{'OSX' ? '&#8984;S' : 'Ctrl+S'}}
                <span class='visible-xs-inline visible-sm-inline'>)</span>">
          <span class="fa fa-fw fa-floppy-o"></span>
          <span class="hidden-xs hidden-sm">Save changes</span>
        </button> -->
        
        <div class="btn-group">

          <button class="btn btn-default"
            ng-class="endpointHealth.isActive ? 'btn-custom-health-active' : ''"
            ng-disabled="!currentItem.uuid"
            ng-click="showEndpointHealthReport()">
            <span class="fa fa-heartbeat"></span>
          </button>
        </div>

        <div class="btn-group">

          <button class="btn btn-default"
                  ng-click="saveCurrentRequest()"
                  ng-disabled="!requestChangedFlag">
            <span class="fa fa-floppy-o"></span>
            <span class="hidden-xs hidden-sm">Save</span>
          </button>
          <button class="btn btn-default"
                  ng-disabled="!requestChangedFlag"
                  ng-if="endpoint.uuid"
                  bs-dropdown data-placement="bottom-right" data-container=".editor" data-template="saveOptions">
            <span class="caret"></span>
          </button>
        </div>
        <script type="text/ng-template" id="saveOptions">
          <ul class="dropdown-menu">
            <li>
              <a ng-click="saveCurrentRequest()">
                <span class="fa fa-fw fa-file-text-o"></span>
                Overwrite Existing (default)
              </a>
            </li>
            <li>
              <a ng-click="saveAsNewCurrentRequest()">
                <span class="fa fa-fw fa-files-o fa-flip-horizontal"></span>
                Save as New Endpoint
              </a>
            </li>
          </ul>
        </script>
        <!-- <button class="btn btn-default"
          ng-click="copyCurrentRequest()"
          ng-show="currentItem.uuid">
          <span class="fa fa-fw fa-files-o"></span>
          <span class="hidden-xs hidden-sm">Make a copy</span>
        </button> -->
        <div class="btn-group">
          <button class="btn btn-default"
                  ng-click="showCommentForm()"
                  ng-disabled="!currentItem.uuid">
            <span class="fa fa-comment-o fa-flip-horizontal"></span>
            <span class="hidden-xs hidden-sm">Comment</span>
          </button>
          <button class="btn btn-default"
                  ng-disabled="commentFlagButtonStatus"
                  ng-click="addCommentFlag()"
                  ladda="loadingAddCommentButton"
                  >
            <span class="fa" ng-class="endpoint.flagged ? 'fa-check' : 'fa-flag-o'"></span>
            <span class="hidden-xs hidden-sm">{{ endpoint.flagged ? 'Resolve' : 'Flag' }}</span>
          </button>
        </div>

        <div class="btn-group">
          <button class="btn btn-default"
                  ng-disabled="isDeleteButtonDisabled"
                  ng-click="openDeleteItemModal()">
            <span class="fa fa-trash-o"></span>
            <span class="hidden-xs hidden-sm">Delete</span>
          </button>
        </div>
      </div>

      <div class="editor-titles">
        <h2>
          <button ng-show="currentCollection.name">
            {{currentCollection.name}}
          </button>
        </h2>
        <h1 id="editor-title">
          <input type="text" class="content-editable"
                 placeholder="Untitled Request" pu-elastic-input
                 ng-model="endpoint.name"
                 ng-change="requestChanged()"/>
          <span class="editor-status label activity-flagged" ng-show="endpoint.flagged">
            Flagged
          </span>
        </h1>
      </div>

      <editor-description
        ng-show="currentItem.uuid"
        ag-parent-endpoint="endpoint"
        ag-request-change-flag ="requestChangedFlag"
      >
      </editor-description>

      <div ng-include="'html/editor-request.html'" ></div>

      <!-- http://stackoverflow.com/questions/23698316/how-to-prevent-an-angular-bootstrap-dropdown-from-closing-unbind-event-which-wa -->
      <ul class="editor-nav nav nav-tabs" >
        <li role="presentation" ng-class="{'active': endpointNav.tab == 'Editor'}" ng-show="endpoint.uuid">
          <a href="" ng-click="endpointNav.tab = 'Editor'">
            <span class="fa fa-reply"></span>
            Response
          </a>
        </li>
        <li role="presentation" ng-class="{'active': endpointNav.tab == 'Activity'}" ng-show="endpoint.uuid">
          <a href="" ng-click="endpointNav.tab = 'Activity'">
            <span class="fa fa-comments"></span>
            Activity
            <!-- <span class="badge">36</span> -->
          </a>
        </li>
        <li role="presentation" ng-class="{'active': endpointNav.tab == 'Mocking'}" ng-show="endpoint.uuid">
          <a href="" ng-click="endpointNav.tab = 'Mocking'">
            <span class="fa fa-hand-lizard-o"></span>
            Mocking
            <!-- <span class="badge">36</span> -->
          </a>
        </li>
      </ul>
    </div>
    <!--
    <div class="editor-description">

      <p contenteditable="true" ng-model="endpoint.description" placeholder="Add a description..." ></p>

    </div>
    -->
    <div ng-include="'html/editor-response.html'" ng-show="endpointNav.tab == 'Editor'"></div>
    <!-- <div ng-include="'html/editor-activity.html'" ng-show="endpointNav.tab == 'Activity'"></div> -->

    <editor-activities
      ag-parent-type="item"
      ag-parent-update-flag="updateItemFlag(status)"
      ag-parent-update-activities="updateActivities(actionItem)"
      ag-parent-endpoint="endpoint"
      ag-parent-activity-item="activityItem"
      ng-show="endpoint.uuid && endpointNav.tab == 'Activity'">
    </editor-activities>

    <editor-mocking
      ag-parent-endpoint="endpoint"
      ng-show="endpoint.uuid && endpointNav.tab == 'Mocking'">
    </editor-mocking>

  </div>
