    <div class="panel panel-default editor-panel">
      <div class="panel-heading editor-panel-heading">

        <h3 class="editor-panel-heading-title">Response</h3>

        <div class="response-heading enable-select" ng-switch="response">
          <div ng-switch-when="null">
            No requests have been made.
          </div>
          <div ng-switch-when="loading">
            Waiting for response...
          </div>
          <div ng-switch-default>
            <div ng-hide="response.status">
              <strong>
                <span class="fa" ng-class="getResponseCodeClass(response.status)"></span>
                URL Unreachable
              </strong>
            </div>
            <div ng-show="response.status">
              <strong>
                <span class="fa" ng-class="getResponseCodeClass(response.status)"></span>
                {{response.status + ' ' + response.statusText}}
              </strong>
              <span class="hidden-xs hidden-sm">
                &mdash;
                <strong >{{ response.data.length / 1024 }} kilobytes</strong>
                <!-- received in
                <strong>{{response.time}} seconds</strong>. -->
              </span>
              <span class="visible-xs-inline visible-sm-inline">
                &mdash;
                {{ response.data.length / 1024 }} kB,
                <!-- {{ response.time | number: 2 }} s -->
              </span>
            </div>
          </div>
        </div>

        <ul class="response-tab-group" ng-show="response">
          <li class="response-tab-item" ng-class="{'active': responsePreviewType == previewType}"
              ng-repeat="previewType in responsePreviewTypes" ng-click="setResponsePreviewType(previewType)">
            <a href="">{{previewType}}</a>
          </li>
        </ul>

      </div>
      <div class="panel-body editor-panel-body" ng-if="response" ng-switch="response">
        <div class="response-headers" ng-if="response.headers">
          <h4 class="response-headers-title editor-panel-subsection" ng-click="responseHeadersExpanded = !responseHeadersExpanded">
            <a href="#">
              <span class="fa fa-lg" ng-class="responseHeadersExpanded ? 'fa-caret-down' : 'fa-caret-right'"></span>
              Response headers
            </a>
          </h4>
          <table class="request-headers-table response-header enable-select" ng-show="responseHeadersExpanded">
            <div ng-repeat="(key, value) in response.headers">
              <tr class="request-header" ng-repeat="(key, value) in response.headers">
                <th><div class="response-header-key  ">{{key  }}</div></th><td class="request-header-spacer">:</td>
                <td><div class="response-header-value">{{value}}</div></td>
              </tr>
            </div>
          </table>
        </div>

        <div class="response-body" ng-if="response.data" ng-init="responseBodyExpanded = true">
          <h4 class="response-body-title editor-panel-subsection" ng-click="responseBodyExpanded = !responseBodyExpanded">
            <a href="#">
              <span class="fa fa-lg" ng-class="responseBodyExpanded ? 'fa-caret-down' : 'fa-caret-right'"></span>
              Response body
            </a>
          </h4>
          <div ui-ace="responseBodyEditorOptions" ng-model="response.data" ng-show="responseBodyExpanded"></div>
        </div>

      </div>
    </div>
