    <div class="panel panel-default editor-panel">
      <div class="panel-heading editor-panel-heading">

        <h3 class="editor-panel-heading-title">Response</h3>

        <div class="response-heading enable-select" ng-switch="response">
          <div ng-switch-when="null">
            No requests have been made.
          </div>
          <div ng-switch-when="loading">
            Waiting for response...
          </div>
          <div ng-switch-default>
            <div ng-hide="response.status">
              <strong>
                <span class="fa" ng-class="getResponseCodeClass(response.status)"></span>
                URL Unreachable
              </strong>
            </div>
            <div ng-show="response.status">
              <strong>
                <span class="fa" ng-class="getResponseCodeClass(response.status)"></span>
                {{response.status}}
                <span class="hidden-xs hidden-sm">
                  {{response.statusText}}
                </span>
              </strong>
              <span class="hidden-xs hidden-sm hidden-md">
                &mdash;
                <strong >{{ response.data.length / 1024 | number: 2 }} kilobytes</strong>
                <!-- received in
                <strong>{{response.time}} seconds</strong>. -->
              </span>
              <span class="visible-xs-inline visible-sm-inline visible-md-inline">
                &mdash;
                {{ response.data.length / 1024 | number: 2 }} kB<!--,
                {{ response.time | number: 2 }} s -->
              </span>
            </div>
          </div>
        </div>

        <ul class="response-tab-group" ng-show="response">
          <li class="response-tab-item" ng-class="{'active': currentResponsePreviewTab.title == previewType.title}"
              ng-repeat="previewType in responsePreviewTab" ng-click="setResponsePreviewType(previewType)">
            <a>{{previewType.title}}</a>
          </li>
        </ul>
      </div>
      <div class="panel-body editor-panel-body" ng-if="response" ng-include="currentResponsePreviewTab.url">
      </div>
    </div>
