    <div class="panel panel-default editor-panel">
      <div class="panel-heading editor-panel-heading">

        <h3 class="editor-panel-heading-title">Request</h3>

        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" bs-dropdown data-template="requestMethodMenu">
              {{endpoint.requestMethod}}
              <span class="caret"></span>
            </button>
            <script type="text/ng-template" id="requestMethodMenu">
              <ul class="dropdown-menu">
                <li ng-repeat="requestMethod in requestMethods">
                  <a href="" ng-click="setRequestMethod(requestMethod)">
                    <span class="fa fa-fw" ng-class="requestMethod == endpoint.requestMethod ? 'fa-check' : 'fa-spacer'"></span>
                    {{requestMethod}}
                  </a>
                </li>
              </ul>
            </script>
          </div><!-- /btn-group -->
          <input type="text" class="form-control" placeholder="Add a URL...">
          <div class="input-group-btn">
            <button class="btn btn-default project-environment" bs-dropdown data-template="environmentSelect">
              <span class="fa fa-sliders"></span>
              {{endpoint.environment}}
              <span class="caret"></span>
            </button>
            <script type="text/ng-template" id="environmentSelect">
              <ul class="dropdown-menu">
                <li ng-repeat="environment in environments">
                  <a href="" ng-click="setEnvironment(environment)">
                    <span class="fa fa-fw" ng-class="environment == endpoint.environment ? 'fa-check' : 'fa-spacer'"></span>
                    <code class="text-uppercase">{{environment}}</code>
                    <span class="dropdown-menu-hotkey">{{'OSX' ? '&#8984;' + ($index+1) : 'Ctrl+' + ($index+1)}}</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="" ng-click="manageEnvironments()">
                    <span class="fa fa-fw fa-sliders"></span>
                    Manage Environments
                  </a>
                </li>
              </ul>
            </script>
            <button class="btn btn-primary" ng-click="performRequest()"``
                    ladda="response == 'loading'" data-style="expand-right"
                    bs-tooltip data-title="{{'OSX' ? '&#8984;R' : 'Ctrl+R'}}" data-placement="bottom">
              <span class="fa fa-upload"></span>
               <span class="hidden-xs hidden-sm">Make request</span>
            </button>
          </div>
        </div>

      </div>
      <div class="panel-body editor-panel-body">

        <div class="request-headers">
          <h4 class="request-headers-title editor-panel-subsection" ng-click="requestHeadersExpanded = !requestHeadersExpanded">
            <a href="#">
              <span class="fa fa-lg" ng-class="requestHeadersExpanded ? 'fa-caret-down' : 'fa-caret-right'"></span>
              Request headers
            </a>
          </h4>
          <table class="request-headers-table" ng-show="requestHeadersExpanded">
            <tr class="request-header" ng-repeat="requestHeader in endpoint.requestHeaders">
              <th><input type="text" class="request-header-key"   ng-model="requestHeader.key"   placeholder="Header" pu-elastic-input /></th><td class="request-header-spacer">:</td>
              <td><input type="text" class="request-header-value" ng-model="requestHeader.value" placeholder="Value"  pu-elastic-input /></td>
              <td>
                <a href="" class="request-header-delete" ng-click="deleteRequestHeader(requestHeader)">
                  <span class="fa fa-trash-o"></span>
                  <span class="hidden-xs hidden-sm">Delete</span>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <button type="button" class="request-header-new btn btn-dashed" ng-show="requestHeadersExpanded" ng-click="addRequestHeader()">
                  <span class="fa fa-plus"></span>
                  Add a header
                </button>
              </td>
            </tr>
          </table>
        </div>

        <div class="request-body">
          <h4 class="request-body-title editor-panel-subsection" ng-click="requestBodyExpanded = !requestBodyExpanded">
            <a href="#">
              <span class="fa fa-lg" ng-class="requestBodyExpanded ? 'fa-caret-down' : 'fa-caret-right'"></span>
              Request body
            </a>
          </h4>
          <div ui-ace="requestBodyEditorOptions" ng-model="endpoint.requestBody" ng-if="requestBodyExpanded"></div>
        </div>

      </div>
    </div>
