<div class="modal" ng-controller="EnvironmentsCtrl">
  <div class="modal-wrapper">
    <div class="modal-dialog environment-modal">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>

          <h1>Environment Variables</h1>
          <p>
            Use environment variables with API Garage much like you use them in your <br/>
            code - easily swap out values based on changing environmental contexts.
            <a>Read more.</a>
          </p>

        </div>
        <div class="modal-body">

          <div class="environment-section">
            <h2 class="environment-section-title">
              <button type="button" class="btn btn-default btn-sm pull-right" ng-click="addVariable('Public')" ng-if="environments.public.length">
                <span class="fa fa-plus"></span>
                New Variable
              </button>
              <button type="button" class="btn btn-default btn-sm pull-right" ng-click="addEnvironment('Public')" ng-if="environments.public.length">
                <span class="fa fa-plus"></span>
                New Environment
              </button>
              Public Environments
            </h2>
            <p class="environment-section-landing" ng-if="!environments.public.length">
              <button type="button" class="btn btn-default pull-right" ng-click="addEnvironment('Public')">
                <span class="fa fa-plus"></span>
                New Public Environment
              </button>
              Public Environments are shared with
              others on your team, for example:
              <code><span class="fa fa-sliders"></span> PRODUCTION</code> or
              <code><span class="fa fa-sliders"></span> STAGING</code>.
            </p>

            <table class="environment-table" ng-if="environments.public.length">
              <tbody>
                <tr class="environment-table-head">
                  <td><!-- Spacer --></td>
                  <th ng-repeat="variable in environments.publicVariables">
                    <input type="text" class="form-control" ng-model="variable.name" ng-model-options="{updateOn: 'blur'}" placeholder="Variable name" ng-show="!variable.name || variable.edit" ng-blur="variable.edit = false" />
                    <a bs-dropdown data-template="variableMenu" data-placement="bottom-center" ng-show="variable.name && !variable.edit">
                      <code>
                        {{variable.name}}
                        <span class="caret"></span>
                      </code>
                    </a>
                    <script type="text/ng-template" id="variableMenu">
                      <ul class="dropdown-menu">
                        <li>
                          <a ng-click="variable.edit = true">
                            <span class="fa fa-fw fa-pencil"></span>
                            Rename variable
                          </a>
                        </li>
                        <li>
                          <a>
                            <span class="fa fa-fw fa-trash-o"></span>
                            Delete variable
                          </a>
                        </li>
                      </ul>
                    </script>                  
                  </th>
                </tr>
                <tr class="environment-table-body" ng-repeat="environment in environments.public">
                  <th>
                    <input type="text" class="form-control" ng-model="environment.name" ng-model-options="{updateOn: 'blur'}" placeholder="Environment name" ng-show="!environment.name || environment.edit" ng-blur="environment.edit = false" />
                    <a bs-dropdown data-template="environmentMenu" data-placement="bottom-center" ng-show="environment.name && !environment.edit">
                      <code>
                        <span class="fa fa-sliders"></span>
                        {{environment.name}}
                        <span class="caret"></span>
                      </code>
                    </a>
                    <script type="text/ng-template" id="environmentMenu">
                      <ul class="dropdown-menu">
                        <li>
                          <a ng-click="environment.edit = true">
                            <span class="fa fa-fw fa-pencil"></span>
                            Rename environment
                          </a>
                        </li>
                        <li>
                          <a>
                            <span class="fa fa-fw fa-trash-o"></span>
                            Delete environment
                          </a>
                        </li>
                      </ul>
                    </script>
                  </th>
                  <td ng-repeat="variable in environments.publicVariables">
                    <input type="text" class="form-control" />
                  </td>
                </tr>
              </tfoot>
            </table>

          </div>

          <div class="environment-section">
            <h2 class="environment-section-title">
              <button type="button" class="btn btn-default btn-sm pull-right" ng-click="addVariable('Private')" ng-if="environments.private.length">
                <span class="fa fa-plus"></span>
                New Variable
              </button>
              <button type="button" class="btn btn-default btn-sm pull-right" ng-click="addEnvironment('Private')" ng-if="environments.private.length">
                <span class="fa fa-plus"></span>
                New Environment
              </button>
              Private Environments
            </h2>
            <p class="environment-section-landing" ng-if="!environments.private.length">
              <button type="button" class="btn btn-default pull-right" ng-click="addEnvironment('Private')">
                <span class="fa fa-plus"></span>
                New Private Environment
              </button>
              Private Environments remain local to your computer and
              are never shared with others.
            </p>
            <table class="environment-table" ng-if="environments.private.length">
              <tbody>
                <tr class="environment-table-head">
                  <td><!-- Spacer --></td>
                  <th ng-repeat="variable in environments.privateVariables">
                    <input type="text" class="form-control" ng-model="variable.name" ng-model-options="{updateOn: 'blur'}" placeholder="Variable name" ng-show="!variable.name || variable.edit" ng-blur="variable.edit = false" />
                    <a bs-dropdown data-template="variableMenu" data-placement="bottom-center" ng-show="variable.name && !variable.edit">
                      <code>
                        {{variable.name}}
                        <span class="caret"></span>
                      </code>
                    </a>
                    <script type="text/ng-template" id="variableMenu">
                      <ul class="dropdown-menu">
                        <li>
                          <a ng-click="variable.edit = true">
                            <span class="fa fa-fw fa-pencil"></span>
                            Rename variable
                          </a>
                        </li>
                        <li>
                          <a>
                            <span class="fa fa-fw fa-trash-o"></span>
                            Delete variable
                          </a>
                        </li>
                      </ul>
                    </script>                  
                  </th>
                </tr>
                <tr class="environment-table-body" ng-repeat="environment in environments.private">
                  <th>
                    <input type="text" class="form-control" ng-model="environment.name" ng-model-options="{updateOn: 'blur'}" placeholder="Environment name" ng-show="!environment.name || environment.edit" ng-blur="environment.edit = false" />
                    <a bs-dropdown data-template="environmentMenu" data-placement="bottom-center" ng-show="environment.name && !environment.edit">
                      <code>
                        <span class="fa fa-sliders"></span>
                        {{environment.name}}
                        <span class="caret"></span>
                      </code>
                    </a>
                    <script type="text/ng-template" id="environmentMenu">
                      <ul class="dropdown-menu">
                        <li>
                          <a ng-click="environment.edit = true">
                            <span class="fa fa-fw fa-pencil"></span>
                            Rename environment
                          </a>
                        </li>
                        <li>
                          <a>
                            <span class="fa fa-fw fa-trash-o"></span>
                            Delete environment
                          </a>
                        </li>
                      </ul>
                    </script>
                  </th>
                  <td ng-repeat="variable in environments.privateVariables">
                    <input type="text" class="form-control" />
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
        <div class="modal-footer">

          <button class="btn btn-primary" ng-click="submit()" type="submit">Save</button>
          <button class="btn btn-default" ng-click="cancel()" type="submit">Cancel</button>

        </div>
      </div>
    </div>
  </div>
</div>