  <div class="layout-column-content header noselect" ng-controller="HeaderCtrl">
    <button class="header-sidebar-toggle btn btn-primary" ng-click="toggleSidebar()">
      <span class="fa fa-bars"></span>
    </button>
    <button class="header-item active">
      Endpoints
    </button>
    <button class="header-item">
      Documentation
    </button>
    <button class="header-item">
      Testing
    </button>

    <button class="header-item pull-right" bs-dropdown data-template="accountMenu" data-placement="bottom-right">
      <span class="glyphicon glyphicon-user"></span>
      Account
      <span class="caret"></span>
    </button>
    <script type="text/ng-template" id="accountMenu">
      <ul class="dropdown-menu dropdown-menu-account">
        <li>
          <a ng-click="logout()">
            <span class="fa fa-fw fa-sign-out"></span>
            Log out
          </a>
        </li>
      </ul>
    </script>
  </div>
