<div class="modal" ng-controller="PromptCtrl">
  <div class="modal-wrapper">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="discard()"
            ng-disabled="promptProperty.disableCloseButton"><span>&times;</span>
          </button>
          <h1>{{title}}</h1>
        </div>
        <form name="promptControllerForm" novalidate role="form" class="form-control-static">
        <div class="modal-body">
          <div class="form-group-sm">

            <!-- DROP DOWN STARTS -->
            <label for="dropdownPrompt" data-ng-show="promptProperty.showDropdown">
              {{promptProperty.labelDropdownText}}
            </label>
            <span class="modal-validation has-error form-group-sm"
              data-ng-show="selectItemErrorMessage" > - Select one item
            </span>
            <div class="editor-titles" name="dropdownPrompt" data-ng-show="promptProperty.showDropdown">
              <h2 bs-dropdown data-template="dropdown-selection" id="dropdown-selection">
                <button ng-hide="promptProperty.dropdownSelectedItem.name">
                  Select Category
                  <span class="caret"></span>
                </button>
                <button ng-show="promptProperty.dropdownSelectedItem.name">
                  {{promptProperty.dropdownSelectedItem.name}}
                  <span class="caret"></span>
                </button>
              </h2>
            </div>

            <!-- http://stackoverflow.com/questions/23698316/how-to-prevent-an-angular-bootstrap-dropdown-from-closing-unbind-event-which-wa -->
            <script type="text/ng-template" id="dropdown-selection">
              <ul class="dropdown-menu">
                <li ng-repeat="item in promptProperty.dropdownItems">
                  <a ng-click="selectDropdown(item)">
                    <span class="fa fa-fw" ng-class="item.name == promptProperty.dropdownSelectedItem ? 'fa-check' : 'fa-spacer'"
                    data-ng-model="itemProperty"></span>
                    {{item.name}}
                  </a>
                </li>
                <li class="divider" ng-show="promptProperty.showDividerItem"></li>
                <li ng-show="promptProperty.showDividerItem">
                  <a ng-click="selectDropdown(promptProperty.dividerItemName)">
                    <span class="fa fa-fw fa-pencil"></span>
                    {{promptProperty.dividerItemName}}
                  </a>
                </li>
              </ul>
            </script>
            <!-- DROP DOWN ENDS -->

            <!-- DropDown Input Text STARTS -->
            <label for="inputPromptA" data-ng-show="promptProperty.showInputPromptA">{{promptProperty.labelInputTextA}}
            </label>
            <span class="modal-validation has-error form-group-sm"
              data-ng-show="promptControllerForm.inputPromptA.$dirty && promptControllerForm.inputPromptA.$error.required">
              {{ promptControllerForm.inputPromptA.$error.required && promptControllerForm.inputPromptA.$dirty ? "- Can't be empty" : "" }}
            </span>
            <input name="inputPromptA" type="text" class="form-control modal-form"
              placeholder="{{promptProperty.placeHolderInputTextA}}"
              data-ng-show="promptProperty.showInputPromptA"
              ng-required="promptProperty.requiredInputPromptA" data-ng-model="promptProperty.inputPromptTextA"
            />
            <!-- DropDown Input Text ENDS -->

            <!-- Input Text STARTS -->
            <label for="inputPrompt" data-ng-show="promptProperty.showInputPrompt">{{promptProperty.labelInputText}}
            </label>
            <span class="modal-validation has-error"
              data-ng-show="promptControllerForm.inputPrompt.$dirty && promptControllerForm.inputPrompt.$error.required">
              {{ promptControllerForm.inputPrompt.$error.required && promptControllerForm.inputPrompt.$dirty ? "- Can't be empty" : "" }}
            </span>

            <input name="inputPrompt" type="text" class="form-control modal-form"
              placeholder="{{promptProperty.placeHolderInputText}}"
              data-ng-show="promptProperty.showInputPrompt"
              ng-required="promptProperty.requiredInputPrompt" data-ng-model="promptProperty.inputPromptText"/>
            <!-- Input Text ENDS -->

            <!-- Input Text EMAIL STARTS -->
            <label for="inputEmailPrompt" data-ng-show="promptProperty.showInputEmailPrompt">{{promptProperty.labelInputEmailText}}</label>
            <span class="modal-validation has-error"
              data-ng-show="promptControllerForm.inputEmailPrompt.$dirty && promptControllerForm.inputEmailPrompt.$error.pattern ||
              promptControllerForm.inputEmailPrompt.$error.required">
              {{ promptControllerForm.inputEmailPrompt.$error.pattern ? "Invalid email address" : "" }}
              {{ promptControllerForm.inputEmailPrompt.$error.required && promptControllerForm.inputEmailPrompt.$dirty ? "Can't be empty" : "" }}
            </span>
            <input name="inputEmailPrompt" type="text" class="form-control modal-form"
              placeholder="{{promptProperty.placeHolderInputEmailText}}"
              data-ng-show="promptProperty.showInputEmailPrompt"
              ng-pattern="/^(([^&lt;&gt;()[\]\.,;:\s@\&quot;]+(\.[^&lt;&gt;()[\]\.,;:\s@\&quot;]+)*)|(\&quot;.+\&quot;))@(([^&lt;&gt;()[\]\.,;:\s@\&quot;]+\.)+[^&lt;&gt;()[\]\.,;:\s@\&quot;]{2,})$/i"
              ng-required="promptProperty.requiredInputEmailPrompt" data-ng-model="inputEmailPrompt"/>
            <!-- Input Text EMAIL ENDS -->

            <!-- General Validation STARTS -->
            <!-- <span class="modal-validation" ng-class="promptProperty.promptIsError ? 'has-error' : 'has-success'"
              ng-if="promptProperty.promptMessage"
              data-ng-show="{{ promptProperty.promptMessage = promptControllerForm.$invalid ? false : true}}">
              {{promptProperty.promptMessageText}}
            </span> -->
            <!-- General Validation ENDS -->

          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" ng-click="submit(promptControllerForm)"
          ladda="promptProperty.submitLoading" data-style="expand-left"
          ng-disabled="promptProperty.disableSubmitButton || promptControllerForm.$invalid"
          ng-show="promptProperty.showSubmitButton">{{promptProperty.submitButtonText}}</button>

          <button class="btn btn-default" ng-click="discard()"
          ng-disabled="disableDiscardButton" ng-show="promptProperty.showDiscardButton">
          {{promptProperty.discardButtonText}}</button>
        </div>
      </form>

      </div>
    </div>
  </div>
</div>
