  <div class="layout-column-sidebar sidebar noselect" ng-class="{expanded: layout.sidebarExpanded}"
      bs-affix-target ng-controller="SidebarCtrl">
    <!-- NEW ENDPOINT BUTTON -->
    <button type="button" class="btn btn-default btn-block sidebar-new"
            bs-tooltip data-title="{{'OSX' ? '&#8984;N' : 'Ctrl+N'}}" data-placement="bottom">
      <span class="glyphicon glyphicon-plus"></span>
      New Endpoint
    </button>

    <!-- SEARCH BOX -->
    <div class="sidebar-search-placeholder">
      <div class="sidebar-search-wrap" bs-affix data-offset-top="-50">
        <input type="text" class="form-control sidebar-search" placeholder="Search..." ng-model="search" />
      </div>
    </div>

    <!-- EXISTING ENDPOINTS -->
    <ul class="sidebar-list-parent">
      <li class="sidebar-list-parent-item" ng-repeat="group in endpointGroups">
        <div class="sidebar-list-parent-item-container">
          <a href="" class="sidebar-list-item-menu" bs-dropdown data-template="sidebar-list-parent-item-menu" data-placement="auto bottom-right" data-container=".sidebar">
            <span class="fa fa-fw fa-lg fa-ellipsis-h"></span>
          </a>
          <a href="" ng-click="expandGroup = !expandGroup">
            <span class="fa fa-lg" ng-class="expandGroup ? 'fa-caret-down' : 'fa-caret-right'"></span>
            {{group.name}}
          </a>
        </div>
        <ul class="sidebar-list-child" ng-show="expandGroup">
          <li class="sidebar-list-child-item" ng-repeat="endpoint in group.endpoints">
            <a href="" class="sidebar-list-item-menu" bs-dropdown data-template="sidebar-list-child-item-menu" data-placement="auto bottom-right" data-container=".sidebar">
              <span class="fa fa-fw fa-lg fa-ellipsis-h"></span>
            </a>
            <a href="">{{endpoint}}</a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- DROPDOWN FOR ENDPOINT GROUPS -->
    <script type="text/ng-template" id="sidebar-list-parent-item-menu">
      <ul class="dropdown-menu">
        <li>
          <a href="" ng-click="rename">
            <span class="fa fa-fw fa-pencil"></span>
            Rename
          </a>
        </li>
        <li>
          <a href="">
            <span class="fa fa-fw fa-trash-o"></span>
            Delete
          </a>
        </li>
      </ul>
    </script>
    <script type="text/ng-template" id="sidebar-list-child-item-menu">
      <ul class="dropdown-menu">
        <li>
          <a href="" ng-click="rename">
            <span class="fa fa-fw fa-pencil"></span>
            Rename
          </a>
        </li>
        <li>
          <a href="" ng-click="rename">
            <span class="fa fa-fw fa-files-o"></span>
            Make a copy
          </a>
        </li>
        <li>
          <a href="">
            <span class="fa fa-fw fa-trash-o"></span>
            Delete
          </a>
        </li>
      </ul>
    </script>

  </div>
