  <div class="layout-column-sidebar sidebar noselect" ng-class="{expanded: layout.sidebarExpanded}"
      bs-affix-target ng-controller="SidebarCtrl">

    <!-- NEW ENDPOINT BUTTON -->
    <!-- <button type="button" class="btn btn-default btn-block sidebar-new"
            bs-tooltip data-title="{{ (navigator.appVersion.indexOf('Mac')!=-1) ? '&#8984;N' : 'Ctrl+N'}}" data-placement="bottom"
            ng-click="newRequest()">
      <span class="glyphicon glyphicon-plus"></span>
      New Endpoint
    </button> -->
    <!-- <button type="button" class="btn btn-default btn-block sidebar-new"
        ng-class="serverStatus ? 'btn-success' : 'btn-default'"
        ng-click="mockingServerSwitch()">
      <span class="fa fa-fw fa-server"></span>
      {{serverStatus ? 'Stop' : 'Start'}} Mocking Server
    </button> -->


    <form name="makeRequestForm" >
      <div  style="display: inline-flex; position: relative; padding-bottom: 10px;"
        ng-show="serverStatus">
        <div class="input-group-btn">
          <button class="btn btn-default" type="button"
            data-trigger="hover"
            placement="bottom" bs-popover="mockingServerInstructions.refreshMessage"
            ng-click="restartMockingServer()"
            ladda="mockingRestartLoading">
            <i class="fa fa-refresh"></i>
          </button>
        </div><!-- /btn-group -->
        <input type="text" id='serverURL' ng-model="serverURL"
        disabled
        style="margin-left: 34px; padding-left: 5px;"/>
        <span class="fa fa-fw fa-question-circle" data-trigger="hover"
        placement="bottom" bs-popover="mockingServerInstructions.message"
        style="padding-left: 5px; padding-top: 10px;"></span>
      </div>
    </form>

    <!-- <label for='serverURL' class="sidebar-list-parent" ng-show="serverStatus">
       <input type="text" id='serverURL' ng-model="serverURL"
       disabled
       style="margin-top: 5px;"/>
       <span class="fa fa-fw fa-question-circle" data-trigger="hover"
       placement="bottom" bs-popover="mockingServerInstructions.message"></span>

    </label> -->

    <!-- SEARCH BOX -->
    <div class="sidebar-search-placeholder ">
      <input type="text" class="col-md-5 form-control sidebar-search"
        placeholder="Search..." ng-model="search" ng-change="searchFilter(search)"
        style="width: 195px;"/>
      <p class="fa fa-fw fa-info-circle fa-lg pull-right"  data-trigger="hover"
      placement="bottom" bs-popover="sidebarSearchInstructions.message" delay="sidebarSearchInstructions.message.delay"
      style="margin-bottom: 0px; margin-top: -22px;">
      </p>
    </div>

    <!-- EXISTING ENDPOINTS -->
    <ul class="sidebar-list-parent">
      <li class="sidebar-list-parent-item" ng-repeat="collection in searchResultsCollection  ">
        <div class="sidebar-list-parent-item-container" ng-class="{'sidebar-list-parent-item-selected':currentCollection.id==collection.id}">
          <a class="sidebar-list-item-menu" bs-dropdown data-template="sidebar-list-parent-item-menu" data-placement="auto bottom-right" data-container=".sidebar">
            <span class="fa fa-fw fa-chevron-down"></span>
          </a>
          <a ng-click="expandGroup = !expandGroup">
            <span class="fa fa-lg" ng-class="expandGroup ? 'fa-caret-down' : 'fa-caret-right'"></span>
            {{collection.name}}
          </a>
        </div>
        <ul class="sidebar-list-child" ng-show="expandGroup">
          <li class="sidebar-list-child-item" ng-repeat="item in collection.items "
            ng-class="{'sidebar-list-child-item-selected' : currentItem.uuid==item.uuid}">
            <a class="sidebar-list-item-menu" bs-dropdown data-template="sidebar-list-child-item-menu" data-placement="auto bottom-right" data-container=".sidebar">
              <span class="fa fa-fw fa-chevron-down"></span>
            </a>
            <span class="fa fa-fw fa-flag" ng-show="item.flagged == 1 ? true : false"></span>
            <span class="fa fa-fw fa-exclamation-circle" ng-show="showNotMocked ? true : false"></span>
            <span class="fa fa-fw fa-heartbeat" ng-show="showMocked ? true : false"></span>
            <a ng-click="selectItem(item, collection)">{{item.name}}</a>

          </li>
        </ul>
      </li>
    </ul>

    <!-- DROPDOWN FOR ENDPOINT GROUPS -->
    <script type="text/ng-template" id="sidebar-list-parent-item-menu">
      <ul class="dropdown-menu">
        <li>
          <a ng-click="openRenameCollectionModal(collection)">
            <span class="fa fa-fw fa-pencil"></span>
            Rename
          </a>
        </li>
        <li>
          <a ng-click="openDeleteCollectionModal(collection)">
            <span class="fa fa-fw fa-trash-o"></span>
            Delete
          </a>
        </li>
      </ul>
    </script>
    <script type="text/ng-template" id="sidebar-list-child-item-menu">
      <ul class="dropdown-menu">
        <li>
          <a ng-click="openRenameItemModal(item)">
            <span class="fa fa-fw fa-pencil"></span>
            Rename
          </a>
        </li>
        <li>
          <a ng-click="copyItem(item)">
            <span class="fa fa-fw fa-files-o"></span>
            Make a copy
          </a>
        </li>
        <li>
          <a ng-click="openDeleteItemModal(collection,item)">
            <span class="fa fa-fw fa-trash-o"></span>
            Delete
          </a>
        </li>
      </ul>
    </script>

  </div>
