@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/angular/angular-csp.css";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "../bower_components/bootstrap-additions/dist/bootstrap-additions.css";
@import "../bower_components/angular-motion/dist/angular-motion.css";
@import "../bower_components/ladda/dist/ladda-themeless.min.css";

@import "layout.less";
@import "authentication.less";
@import "font.less";
@import "button.less";
@import "form.less";
@import "dropdown.less";
@import "modal.less";
@import "sidebar.less";
@import "history.less";
@import "editor.less";
@import "environment.less";

@brand-primary:         #774400;  // Construction Brown  #774400
@brand-secondary:       #FFCC33;  // Construction Yellow #FFCC33
@link-color:            #BB7700;  // Warmer Shade
@lighter-yellow:         #FFEEAA;  // Lighter Share

@border-radius-base:    3px;
@border-radius-large:   3px;

@tooltip-opacity:       1.0;
@tooltip-bg:            rgba(0,0,0,0.5);

@panel-heading-padding: 10px;
