// ============================================================================
// Sidebar
// ============================================================================
@history-default-height: 100px;
.sidebar {
  bottom: @history-default-height;
  padding: 15px;
  background: #FEFEFE;
  overflow: auto;

  // 3D Look
  border-right: 1px solid #DDD; 
  box-shadow: 0 0 4px rgba(0,0,0,0.125);
  z-index: 10;
}
.sidebar-new {
  z-index: 10;
}
.sidebar-search {
  margin: 0;
  border-radius: 20px;
  padding-left: 33px;
  background-image: url('../img/search-icon.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 8px 6px;
}
.sidebar-search-placeholder {
  margin: 0;
  height: 55px;
}
.sidebar-search-wrap {
  height: 50px;
  background: #FFF;
  padding-top: 15px;
  box-shadow: 0 10px 15px 0 #FFF;
  z-index: 10;
}
.sidebar-list-parent {
  .list-unstyled;
  margin-bottom: 10px;
}
.sidebar-list-parent-item {
  padding-left: 10px;
  line-height: 1.4;
  margin: 8px 0;

  font-weight: bold;
}
.sidebar-list-parent-item-container {
  > a {
    text-decoration: none !important;
  }
  
  &:hover {
    > .sidebar-list-item-menu {
      visibility: visible;
      float: right;
    }
  }
}
.sidebar-list-item-menu {
  visibility: hidden;
  float: right;
  color: @gray;

  &:focus {
    visibility: visible;
  }
}
.sidebar-list-child {
  .list-unstyled;
  margin-bottom: 10px;
}
.sidebar-list-child-item {
  padding-left: 14px;
  line-height: 1.4;
  margin: 8px 0;

  font-weight: normal;

  &:hover {
    > .sidebar-list-item-menu {
      visibility: visible;
      float: right;
    }
  }
}

// ============================================================================
// History
// ============================================================================
.history {
  top: auto;
  height: @history-default-height;
  padding: 15px;
  background: #FEFEFE;

  // 3D Look
  border-top: 1px solid #DDD;
  border-right: 1px solid #DDD; 
  box-shadow: 0 0 4px rgba(0,0,0,0.125);
  z-index: 102;

  h1 {
    margin: 0 0 10px;
    font-size: 12px;
    font-family: @font-family-sans-serif;
    font-weight: bold;
    color: #AAA;

    transition: font-size 0.25s;
  }

  .request-type {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    color: #888;
    width: 50px;

    transition: font-size 0.25s, width 0.25s;
  }
  .request-url {
    font-size: 12px;

    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    transition: font-size 0.25s;
  }

  transition: margin 0.25s, height 0.25s, width 0.25s; // Margin is needed for responsive collapse
  &.maximized {
    height: 200px;
    width: 100.1%;
    border-top-color: #BBB;

    h1 {
      font-size: 15px;
    }
    .request-type {
      font-size: 12px;
      width: 60px;
    }
    .request-url {
      font-size: 14px;
    }
  }
}
.history-expand-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #888;
}
